{% extends 'base.html' %}
{% load static %}

{% block customcss %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock customcss %}

{% block content %}

{% if following %}
  <div class="container mt-3">
    {% for user in following %}
    <div class="alert alert-success" role="alert">
        
        <p>ユーザー名：{{user.username}}</p>
        {% if user.user in connection.0.following.all %}
        <a href="{% url 'follow-home' user.pk %}" class="btn btn-primary ms-3" tabindex="-1" role="button" aria-disabled="true">フォローする</a>
        {% else %}
        <a href="{% url 'follow-home' user.pk %}" class="btn btn-danger ms-3" tabindex="-1" role="button" aria-disabled="true">フォローを解除する</a>
        {% endif %}
        
    </div>
    {% endfor %}
  </div>
{% else %}
  <p>フォローしているユーザーはいません</p>
{% endif %}
{% endblock content %} 
